name: Release CLI

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "1.24"

      - name: Build for unix
        run: go build -o courls .

      - name: Build for windows
        env:
          GOOS: windows
          GOARCH: amd64
        run: go build -o courls.exe .

      - name: Debug File Structure
        run: ls -R

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            courls
            courls.exe
          token: ${{ secrets.PAT_TOKEN }}
