name: Release CLI

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "1.24"

      - name: Build
        run: go build -o courls .

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: courls
